body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--dUI-theme-background);
	color: var(--dUI-theme-on-background);
	padding: 20px;
}

.sections {
}

.section {
	padding: 10px 0;
	display: flex;
	gap: 10;
	align-items: center;
}

.dUI-button {
	margin: 5px;
}
