.list-symbol {
	display: inline-block;
	padding: 0 4px;
	padding-right: 6px;
	border-radius: 4px;
	cursor: pointer;
	&:hover {
		background-color: #f3f4f5;
	}
	&[data-type='2'][data-level='0'] {
		&::after {
			content: 'ã€';
			display: inline-block;
			width: 0.5em;
		}
	}
	&[data-type='2'][data-level='1'] {
		&::after {
			content: '';
		}
	}
	&::after {
		content: '.';
	}
}

.heading {
	display: flex;
	align-items: center;
}
