.heading {
	&:hover {
		.toggle-button {
			opacity: 1;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		font-size: inherit;
		line-height: inherit;
		font-weight: inherit;
	}

	&.h1 > .heading-container {
		font-size: 40px;
		font-weight: 700;
		margin: 0.5em 0;
	}
	&.h2 > .heading-container {
		font-size: 30px;
		font-weight: 600;
		border-bottom: 1px solid #ddd;
	}
	&.h3 > .heading-container {
		font-size: 24px;
		font-weight: 600;
	}
	&.h4 > .heading-container {
		font-size: 18px;
		font-weight: 600;
	}
	&.h5 > .heading-container {
		font-size: 16px;
		font-weight: 600;
	}
	&.h6 > .heading-container {
		font-size: 16px;
		font-weight: 600;
		color: #777;
	}

	&-container {
		display: flex;
		align-items: center;
		position: relative;
		margin: 1rem 0;
		line-height: 1.4;
		font-weight: bold;
		border-radius: 4px;
	}

	&-icon {
		& > .heading-icon-picker {
			width: 80px;
			height: 80px;
			padding: 0;
			margin-top: -40px;
			font-size: 80px;
			line-height: 1;
			border-radius: 4px;
		}
	}

	.list-symbol {
		display: inline-block;
		padding-right: 6px;
		border-radius: 4px;
		flex-shrink: 0;
		cursor: pointer;
		&:hover {
			background-color: #f3f4f5;
		}
		&[data-type='2'][data-level='0'] {
			&::after {
				content: '、';
				display: inline-block;
				width: 0.5em;
			}
		}
		&[data-type='2'][data-level='1'] {
			&::after {
				content: '';
			}
		}
		&::after {
			content: '.';
		}
	}
	.toggle-button {
		// font-size: 22px;
		// opacity: 0;
		vertical-align: middle;
		font-size: 16px;
		transform: scale(1.375);
		cursor: pointer;
	}
	&-tools {
		display: flex;
		align-items: center;
		padding-top: 8px;
		font-size: 14px;
		top: 0;
		left: 0;
		opacity: 0;
	}
	&:hover {
		.heading-tools {
			opacity: 1;
		}
	}
	&-content {
		flex-grow: 1;
		&.empty {
			&[data-placeholder] {
				&::after {
					content: attr(data-placeholder);
					position: absolute;
					left: 2px;
					top: 50%;
					transform: translate(0, -50%);
					opacity: 0.5;
					pointer-events: none;
				}
			}
		}
	}
}

.order-type-item {
	width: 85px;
	font-size: 12px;
	padding: 0;
	text-transform: none;
	li {
		display: flex;
		align-items: center;
	}
	.order-symbol {
		display: inline-block;
		margin-right: 3px;
		flex-shrink: 0;
	}
	.shape {
		flex-grow: 1;
		margin: 3px 0;
		height: 3px;
		background-color: #e7e8e9;
		border-radius: 2px;
	}
}
