.emphasis-block {
	display: flex;
	padding: 12px;
	margin: 8px 0;
	background-color: #e3e4e5;
	border-radius: 4px;
	& > .border {
		content: '';
		border-radius: 4px;
		border: 1px solid transparent;
		pointer-events: none;
		opacity: 0;
	}
	&-icon {
		flex-shrink: 0;
	}
	&-content {
		flex-grow: 1;
	}
	&-more {
		position: absolute;
		top: 8px;
		right: 8px;
		color: inherit;
	}
	& > .emphasis-block-more[role='button'] {
		opacity: 0;
	}
	&:hover {
		.border {
			opacity: 1;
		}
		.emphasis-block-more {
			opacity: 1;
		}
	}
}
