.tex-input {
	padding: 8px;
	&-box {
		min-width: 240px;
		display: flex;
		& > .input {
			flex-grow: 1;
			border: none;
		}
	}
	&-extra {
		margin-left: 4px;
		flex-shrink: 0;
	}
	.error {
		width: 100%;
		color: red;
		font-size: 12px;
	}
}

.math-inline-node {
	border-radius: 4px;
	padding: 2px 4px;

	&.empty {
		background-color: #e3e4e5;
	}
}
