.tex-input-box {
	min-width: 240px;
	display: flex;
	padding: 8px;
	& > .tex-input {
		flex-grow: 1;
		border: none;
	}
	.tex-input-extra {
		margin-left: 4px;
		flex-shrink: 0;
	}
}

.math-inline-node {
	border-radius: 4px;
	&.empty {
		background-color: #e3e4e5;
	}
}
