.text-block {
	position: relative;
	padding: 3px 2px;
	font-size: 16px;
	// & > p {
	// min-height: 1em;
	// &::after {
	// 	opacity: 0.5;
	// }
	// }
	& > p {
		font-size: inherit;
		font-weight: inherit;
		color: inherit;
		text-align: inherit;
	}
	&.initialPop {
		p {
			padding: 2px 4px;
			// display: inline-flex;
			width: fit-content;
			background-color: #e5e6e7;
			border-radius: 4px;
		}
	}
	&.empty {
		&.initialPop {
			&::after {
				display: none;
			}
			p > br {
				display: none;
			}
			p::after {
				content: '输入以筛选...';
				opacity: 0.3;
			}
		}
		&[data-placeholder] {
			&::after {
				content: attr(data-placeholder);
				position: absolute;
				left: 2px;
				top: 50%;
				transform: translate(0, -50%);
				opacity: 0.5;
				pointer-events: none;
			}
		}
	}
}
