ul,
ol {
	padding-left: 0;
	list-style: none;
	& > li.list-item {
		display: flex;
		padding-left: 2px;
		align-items: flex-start;
		font-size: 16px;
		&.hasSublist {
			padding-left: 20px;
		}
		&.inlist {
			.marker {
				&::before {
					content: '\26AC';
					font-size: 1em;
					line-height: 1.5;
				}
			}
		}
		.marker {
			display: flex;
			align-items: center;
			min-height: 1em;
			flex-shrink: 0;
			padding: 3px 4px;
			flex-shrink: 0;
			user-select: none;
			&::before {
				content: '•';
				font-size: 1.13em;
				line-height: 1.3;
			}

			// &::after {
			// 	display: block;
			// 	width: 4px;
			// 	height: 4px;
			// 	background-color: #000;
			// 	border-radius: 100%;
			// }
		}
	}
	.list-item-content {
		flex-grow: 1;
	}
}

ol.order-list {
	counter-reset: item;

	& > li.list-item {
		&.inlist {
			.marker {
				&::before {
					font-weight: normal;
				}
			}
		}
		.marker {
			&::before {
				counter-increment: item;
				content: counter(item) '. ';
				font-size: 1rem;
				line-height: 1.714;
				font-weight: bold;
			}
		}
	}
}
