.toggle-button-group {
	display: flex;
	align-items: center;
	padding: 4px;
	border-radius: 4px;
	& > [role='button'] {
		margin-right: 4px;
		border-radius: 4px;
		&[data-actived='true'] {
			background-color: #cdcdcd;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

[role='tooltip'] {
	[role='button'] {
		display: flex;
		align-items: center;
		cursor: pointer;
		border-radius: 4px;
		padding: 2px;
		&:hover {
			background-color: #ededed;
		}
	}
}

.tooltip-masker {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 999;
}
