blockquote {
  p {
    margin: 0;
  }
}

* {
  outline: none;
}

pre {
  code {
    tab-size: 2;
  }
}

.scrollbar {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    // background-color: #23241f;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
